{{template "header" .}}
<div id="page-home">
    <div class="screen" style="background-image: url(/static/imgs/home-1.jpg);">
        <a href="/list">接活</a>
    </div>
    <div class="screen" style="background-image: url(/static/imgs/home-1.jpg);">
        <a href="/publish">发活</a>
    </div>
</div>
<div class="hide">
    <h1>{{ .body }}</h1>
    <div id="comment">
    </div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button id="commit">提交</button>
</div>
<script> 
    function load(fn) {
        const STATE = document.readyState
        if (STATE === 'interactive' || STATE === 'complete') {
            fn()
        } else {
            document.addEventListener('readystatechange', () => {
                if (document.readyState === 'interactive') {
                    fn()
                }
            })
        }
    }
    function $(s) {
        return document.querySelector(s)
    }
    load(() => {
        const $comment = $('#comment')

        function update() {
            fetch('/api/comments').then(r => r.json()).then(({ list = [] }) => {
                $comment.innerHTML = list.map(item => {
                    return `<div>${item}</div>`
                }).join('')
            })
        }

        function commit(content) {
            const headers = new Headers()
            headers.append("Content-Type", "text/json")
            fetch('/api/comments/add?content=' + content, {
                headers,
                method: 'post'
            }).then(r => r.json())
                .then(() => {
                    update()
                })
        }

        update()
        $('#commit').addEventListener('click', () => {
            commit($('textarea').value)
            $('textarea').value = ""
        })
    })
    
</script>
{{template "footer" .}}    
