<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{ .title }}</title>
        <style>
            * {
                padding: 0;
                margin: 0;
            }
            .tx-video {
                border: none;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
        </style>
    </head>
    <body>
        <h1>{{ .body }}</h1>
        <div style="position: relative;">
            <iframe class="tx-video" frameborder="0" width="16" height="9" src="https://v.qq.com/iframe/player.html?vid=o010344m0zy&tiny=0&auto=0"
                allowfullscreen></iframe>
        </div>
        
        <script>
            var iframe = document.querySelector('iframe')
            var html = iframe.outerHTML
            var [,width, height] = html.match(/width="(\d+)"\s+height="(\d+)"/)
            iframe.parentElement.style.cssText += ';padding-top:' + height/width*100 + '%;'
        </script>
    </body>
</html>
