{{template "header" .}}
<style>
    .list-item {
        width: 400px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(200, 240, 10);
        display: inline-block;
    }
    .list-item::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    .list-item-info {
        position: absolute;
        bottom: 0;
        color: #fff;
    }

    #page-list {
        display: flex;
        flex-flow: wrap;
        padding: 8px;
    }

    @media (min-width: 600px) {
        .list-item {
            width: calc(25% - 10px * 3 / 4);
            margin: 10px 10px 0 0;
        }
        .list-item:nth-child(4n) {
            margin-right: 0;
        }
        .list-item:nth-child(1),
        .list-item:nth-child(2),
        .list-item:nth-child(3),
        .list-item:nth-child(4)
        {
            margin-top: 0;
        }
    }
    @media (max-width: 600px) {
        .list-item {
            width: calc(50% - 10px * 1 / 2);
            margin: 10px 10px 0 0;
        }
        .list-item:nth-child(2n) {
            margin-right: 0;
        }
        .list-item:nth-child(1),
        .list-item:nth-child(2)
        {
            margin-top: 0;
        }
    }
</style>
<div id="page-list">
    {{range .list}}
        <div class="list-item" style="background-image: url({{ .pics }});">
            <div class="list-item-info">
                <h1>{{.name}}</h1>
                <span>价格: {{.price}}</span>
                <span>tel: {{.tel}}</span>
                <p>{{.des}}</p>
            </div>
        </div>
    {{end}}
</div>
{{template "footer" .}}
