{{template "header" .}}
<style>
    .form-item {
        margin: 10px;
        display: flex;
        line-height: 1.8;
    }
    .form-item>label {
        width: 5em;
        text-align: right;
    }
    .form-item>label:after {
        content: ":";
    }
    .form-item>.input {
        flex: 1;
        padding: 0 10px;
    }
    .form-item>label + .input {
        margin-left: 10px;
    }

    button {
        flex: 1;
        display: block;
        line-height: 2;
    }
    @media (min-width: 1000px) {
        #page-publish {
            max-width: 1000px;
            margin: 0 auto;
        }
    }
</style>
<div id="page-publish">
    <form action="/publish" method="POST">
        <div class="form-item">
            <label for="">项目名称</label>
            <input class="input" type="text" name="name">
        </div>
        <div class="form-item">
            <label for="">图片</label>
            <input class="input" type="text" name="pics" id="">
        </div>
        <div class="form-item">
            <label for="">项目描述</label>
            <textarea class="input" name="des" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="form-item">
            <label for="">联系方式</label>
            <input class="input" type="tel" name="tel">
        </div>
        <div class="form-item">
            <label for="">价格</label>
            <input class="input" type="number" name="price">
        </div>
        <div class="form-item">
            <label for="">周期</label>
            <input class="input" type="time" name="time">
        </div>
        <div class="form-item">
            <label for="">需求文档</label>
            <input class="input" type="text" name="doc">
        </div>
        <div class="form-item">
            <label for="">UI</label>
            <input class="input" type="text" name="ui">
        </div>
        <div class="form-item">
            <label for="">指定城市</label>
            <input class="input" type="text" name="city">
        </div>
        <div class="form-item">
            <button type="submit">发布</button>
        </div>
    </form>
</div>
{{template "footer" .}}
